:root {
    --color-black: #272D4E;
    --color-white: #FFFFFF;
    --color-blue: #299EF3;
    --color-pupple: #7B55FE;
    --color-grey-dark: #94A2B3;
    --color-grey-light: #C4C4C4;
    --color-red: #CF4358;
    --font-primary: 'Roboto', sans-serif;
    --mb-sm: 2rem;
    --mb-md: 3rem;
    --mb-lg: 4rem;
}

$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    @media only screen and (max-width: $bp-medium) {
        font-size: 50%;
    }
}

body {
    line-height: 1.6rem;
    color: var(--color-black);
    font-family: var(--font-primary);
    font-weight: 300;
    width: 100%;
    height: 100%;
}

.container {
    // display: grid;
    // grid-template-rows: 8rem repeat(6, min-content);
    // grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
    // row-gap: 4rem; 
}

section {
    padding: 5rem 10rem;
}

footer {
    padding: 5rem 10rem;
    background-color: var(--color-pupple);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

//SECTION OF THE PAGE
.section {
    &__one {
        width: 100%;
        background: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0) 95.4%);
        display: flex;
        flex-direction: column;
    }
    &__two {
        display: flex;
        flex-direction: column;
        margin-bottom: 15rem;
        &--inner {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
            grid-column-gap: 3rem;
        }
    }
    &__three {
        background-image: url('img/bg-three.jpg');
        background-position: center;
        background-size: cover;
        margin-bottom: 15rem;
        display: flex;
        flex-direction: column;
    }
    &__four {
        margin-bottom: 15rem;
        background-color: var(--color-pupple);
        display: flex;
        justify-content: center;
        align-items: center;
        &--description {
            font-size: 2.6em;
            line-height: 3.2rem;
            color: var(--color-white);
            width: 70rem;
            text-align: left;
        }
        &--btn {
            border: 2px solid #FFFFFF;
            box-sizing: border-box;
            border-radius: 60px;
            font-size: 1.5rem;
            line-height: 2.5rem;
            background-color: var(--color-pupple);
            color: var(--color-white);
            font-weight: bold;
            padding: .3rem 1.6rem;
        }
    }
}

.navigations {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin-bottom: 10rem;
    &__right {
        display: flex;
        justify-content: center;
        align-items: center;
        &>* {
            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
        &-btn {
            padding: .75rem .65rem;
        }
        &-svg {
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--color-black);
        }
        &-link {
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.1rem;
        }
    }
}

.navigation {
    display: flex;
    list-style: none;
    &__item {
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.1rem;
            color: var(--color-black);
            font-style: normal;
        }
    }
}

// header-left__cto
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5rem;
    &-left {
        &__cto {
            display: flex;
            align-items: center;
            span {
                font-size: 1.8rem;
                line-height: 2.1rem;
                color: var(--color-grey-dark);
            }
            &>* {
                &:not(:last-child) {
                    margin-right: 1.5rem;
                }
            }
            &-btn {
                padding: 1.4rem 3.3rem;
                // padding: 2.8rem 6.5rem;
            }
            &-link {
                font-size: 1.8rem;
                line-height: 2.1rem;
                color: var(--color-blue);
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                &-svg {
                    width: 1.8rem;
                    height: 1.8rem;
                    fill: var(--color-blue);
                }
                // padding: 2.8rem 6.5rem;
            }
        }
        &__p {
            font-size: 1.6rem;
            line-height: 2.5rem;
            color: var(--color-grey-dark);
            margin-bottom: 3.2rem;
        }
    }
    &-right {
        display: grid;
        // height: 30rem;
        grid-template-rows: repeat(10, 4rem);
        grid-template-columns: repeat(10, 1fr);
        grid-row-gap: 1rem;
        &__figure {
            border-radius: 2rem;
            overflow: hidden;
            &--1 {
                // width: 14rem;
                // height: 20rem;
                grid-row: 1/4;
                grid-column: 2/6;
            }
            &--2 {
                // width: 14rem;
                // height: 20rem;
                grid-row: 4/7;
                grid-column: 1/5;
            }
            &--3 {
                // width: 14rem;
                // height: 20rem;
                grid-row: 7/10;
                grid-column: 2/7;
                z-index: 30;
            }
            &--4 {
                // width: 36rem;
                // height: 100%;
                grid-row: 2/9;
                grid-column: 6/-1;
            }
        }
        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

//SECTION OF THE PAGE
//FOOTER SECTION
.footer {
    &__navigation {
        list-style: none;
        &-item {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
        }
        &-link {
            &:link,
            &:visited {
                text-decoration: none;
                color: var(--color-white);
                font-size: 1.6rem;
                line-break: 2.4rem;
            }
        }
    }
    &__description {
        color: var(--color-white);
        font-size: 1.8rem;
        line-height: 2.8rem;
        width: 32.9rem;
        font-weight: normal;
        font-style: normal;
    }
    &__social {
        display: flex;
        list-style: none;
        &-item {
            &:not(:last-child) {
                margin-right: 1.5rem;
            }
            background-color: var(--color-white);
            display: flex;
            justify-content: center;
            align-items: center;
            padding:1.5rem 1.5rem;
        }
        &-link {
            display: inline-block;
            width: 2.5rem;
            height: 2.5rem;
            fill: var(--color-pupple);
        }
    }
    &__copy {
        grid-row: 2/3;
        grid-column: 1/-1;
        text-align: center;
        color: var(--color-white);
        font-size: 1.7rem;
        margin-top: 5rem;
        a {
            text-decoration: none;
            &:link,
            &:visited {
                color: var(--color-white);
                font-weight: bold;
            }
            &:hover {
                margin-right: .5rem;
                margin-left: .5rem;
            }
        }
        @media only screen and (max-width: 41.25em) {
            width: 100%;
            // flex: 0 0 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

//FOOTER SECTION ENDS
//TYPOGRAPHY.
.heading-1 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 6rem;
    margin-bottom: 3.3rem;
    color: var(--color-black);
    // width: 78rem;
}

.heading-2 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 4.5rem;
    color: var(--color-black)
}

.heading-3 {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4.2rem;
    color: var(--color-black)
}

.heading-4 {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 3.7rem;
    color: var(--color-white)
}

.mb-1 {
    margin-bottom: 1.5rem;
}

.btn-pupple {
    background-color: var(--color-pupple);
    color: var(--color-white);
}

.btn-green {
    background-color: #70C217;
}

button {
    font-size: 1.5rem;
    border: none;
    outline: none;
    font-weight: bold;
}

.br-1 {
    border-radius: .4rem;
}

.br-6 {
    border-radius: 6rem;
}

.align-center {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 18px 52px rgba(215, 228, 249, 0.5));
    padding: 3rem;
    border-radius: 20px;
    &__title {
        margin-top: 1.4rem;
        font-size: 2.5rem;
        line-height: 3.2rem;
        text-align: justify;
        font-weight: 700;
        // margin-bottom: 1.5rem;
    }
    &__description {
        margin-top: 1.4rem;
        font-size: 1.5rem;
        line-height: 2.1rem;
        text-align: justify;
        font-weight: bold;
        color: var(--color-grey-dark);
    }
    &__figure {
        min-width: 30rem;
        max-height: 26rem;
        border-radius: 2rem;
        overflow: hidden;
    }
    &__img {
        width: 100%;
    }
}

.mb-ten {
    margin-bottom: 10rem;
}

.mt-2 {
    margin-top: 1.5rem;
}

.mr-5 {
    margin-right: 5rem;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-16 {
    margin-top: 16rem;
}

.inline-cto {
    font-size: 1.4rem;
    display: flex;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-blue);
    &__svg {
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--color-blue);
    }
}

.fl-end {
    align-self: flex-end;
}

.card-doc {
    display: flex;
    &--1 {
        margin-left: 8rem;
        margin-bottom: 5rem;
        figure {
            margin-top: -8rem;
        }
    }
    &--2 {
        margin-left: 23rem;
        figure {
            margin-bottom: -8rem;
        }
    }
    &__figure {
        width: 30rem;
        height: 40rem;
        filter: drop-shadow(0px 18px 52px rgba(80, 85, 93, 0.5));
        border-radius: 3rem;
        overflow: hidden;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }
    &__quote {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 2rem;
        h4 {
            margin-bottom: 1.4rem;
        }
        &--description {
            width: 503px;
            font-size: 1.6rem;
            line-height: 3rem;
            color: var(--color-white);
            margin-bottom: 2.4rem;
        }
        &--btn {
            background-color: #70C217;
            color: var(--color-white);
            border-radius: 3rem;
            padding: 2rem 3.5rem;
            align-self: flex-start;
        }
    }
}

///ANIMATIONS
///END ANIMATIONS

/* Underline From Left */

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}


/* Grow Shadow */

.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


/* Icon Shrink */

.hvr-icon-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-icon-shrink .hvr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-icon-shrink:hover .hvr-icon,
.hvr-icon-shrink:focus .hvr-icon,
.hvr-icon-shrink:active .hvr-icon {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}