:root {
  --color-black: #272D4E;
  --color-white: #FFFFFF;
  --color-blue: #299EF3;
  --color-pupple: #7B55FE;
  --color-grey-dark: #94A2B3;
  --color-grey-light: #C4C4C4;
  --color-red: #CF4358;
  --font-primary: 'Roboto', sans-serif;
  --mb-sm: 2rem;
  --mb-md: 3rem;
  --mb-lg: 4rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }

body {
  line-height: 1.6rem;
  color: var(--color-black);
  font-family: var(--font-primary);
  font-weight: 300;
  width: 100%;
  height: 100%; }

section {
  padding: 5rem 10rem; }

footer {
  padding: 5rem 10rem;
  background-color: var(--color-pupple);
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.section__one {
  width: 100%;
  background: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0) 95.4%);
  display: flex;
  flex-direction: column; }

.navigations {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  margin-bottom: 10rem; }
  .navigations__right {
    display: flex;
    justify-content: center;
    align-items: center; }
    .navigations__right > *:not(:last-child) {
      margin-right: 1.5rem; }
    .navigations__right-btn {
      padding: .75rem .65rem; }
    .navigations__right-svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--color-black); }
    .navigations__right-link {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.1rem; }

.navigation {
  display: flex;
  list-style: none; }
  .navigation__item:not(:last-child) {
    margin-right: 2rem; }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: var(--color-black);
    font-style: normal; }

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem; }
  .header-left__cto-btn {
    padding: 1.4rem 3.3rem; }
  .header-left__p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: var(--color-grey-dark);
    margin-bottom: 3.2rem; }
  .header-right {
    display: grid;
    grid-template-rows: repeat(10, 4rem);
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: 1rem; }
    .header-right__figure {
      border-radius: 2rem;
      overflow: hidden; }
      .header-right__figure--1 {
        grid-row: 1/4;
        grid-column: 2/6; }
      .header-right__figure--2 {
        grid-row: 4/7;
        grid-column: 1/5; }
      .header-right__figure--3 {
        grid-row: 7/10;
        grid-column: 2/7;
        z-index: 30; }
      .header-right__figure--4 {
        grid-row: 2/9;
        grid-column: 6/-1; }
    .header-right__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }

.footer__navigation {
  list-style: none; }
  .footer__navigation-item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .footer__navigation-link:link, .footer__navigation-link:visited {
    text-decoration: none;
    color: var(--color-white);
    font-size: 1.6rem;
    line-break: 2.4rem; }

.footer__description {
  color: var(--color-white);
  font-size: 1.8rem;
  line-height: 2.8rem;
  width: 32.9rem;
  font-weight: normal;
  font-style: normal; }

.footer__social {
  display: flex;
  list-style: none; }
  .footer__social-item {
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 1.5rem; }
    .footer__social-item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__social-link {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-pupple); }

.footer__copy {
  grid-row: 2/3;
  grid-column: 1/-1;
  text-align: center;
  color: var(--color-white);
  font-size: 1.7rem;
  margin-top: 5rem; }
  .footer__copy a {
    text-decoration: none; }
    .footer__copy a:link, .footer__copy a:visited {
      color: var(--color-white);
      font-weight: bold; }
    .footer__copy a:hover {
      transform: scale(1.2);
      display: inline-block;
      margin-right: 1.5rem;
      margin-left: 1.5rem; }
  @media only screen and (max-width: 41.25em) {
    .footer__copy {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }

.heading-1 {
  font-size: 5rem;
  font-weight: bold;
  line-height: 6rem;
  margin-bottom: 3.3rem;
  color: var(--color-black); }

.heading-2 {
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 6.4rem;
  color: var(--color-black); }

.heading-3 {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 4.2rem;
  color: var(--color-black); }

.heading-4 {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 3.7rem;
  color: var(--color-white); }

.mb-1 {
  margin-bottom: 1.5rem; }

.btn-pupple {
  background-color: var(--color-pupple);
  color: var(--color-white); }

.btn-green {
  background-color: #70C217; }

button {
  font-size: 1.5rem;
  border: none;
  outline: none;
  font-weight: bold; }

.br-1 {
  border-radius: .4rem; }

.br-6 {
  border-radius: 6rem; }
